header.header {
    width: 600px;
    padding: 10px 10px;
    height: 30px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header.header img {
    user-select: none;
    cursor: pointer;
}