.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app.light {
    background-color: white;
}
.app.dark {
    background-color: hsl(235, 21%, 11%);
}